.button {
  padding: 8px 4px;
  margin-top: 8px;
  font-size: 0.8rem;
  background: linear-gradient(135deg, rgba(16, 65, 226, 0.589), rgb(201, 42, 14));
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 120px;

  &:hover {
    opacity: 0.8;
  }
}