.avatar-logout {
    display: flex;
    align-items: center;
    margin-right: 4px;
}

.avatar {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    cursor: pointer;

    &:hover {
        opacity: 0.8;
    }
}