
$primary-gradient: linear-gradient(135deg, rgba(16, 65, 226, 0.589), rgb(201, 42, 14));
$background-color: #f4f4f4;
$primary-color: #007bff;
$text-color: #333;
$sub-text-color: #666;
$border-radius: 5px;

.buttons-container {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  width: 100%;
  padding: 4px;
}

.button {
  padding: 8px 4px;
  font-size: 0.8rem;
  background: $primary-gradient;
  color: #fff;
  border: none;
  border-radius: $border-radius;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 150px;
  &:hover {
    opacity: 0.8;
  }
}

.home__forgot-password {
  color: $primary-color;
  text-decoration: underline;
  font-size: 0.8rem;
  margin-top: 10px;
}

.home__terms-conditions {
  color: black;
  font-size: 0.8rem;
  opacity: 0.8;
  margin-bottom: 20px;
}
